# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# --- Docker ---
docker-compose.override.yml

# --- Spark Data & Checkpoints ---
# IMPORTANT: Do not commit generated data or state
spark/spark-data/
spark/spark_checkpoints/

# --- Airflow ---
# Ignore Airflow logs, temp files, and the local database
logs/
*.db
*.db-journal
airflow.cfg
unittests.cfg
webserver_config.py
.airflow/

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
*.swp

# --- Environment Variables ---
.env
*.env